body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
}
nav ul {
  list-style: none;        /* remove bullets */
  display: flex;           /* put items in one row */
  justify-content: center; /* center horizontally */
  background: #444;
  padding: 10px 0;
  margin: 0;            /* remove default margin */
}

nav ul li {
  margin: 0 15px;          /* space between items */
}
nav {
    background-color: blue;
    
    
    box-shadow:0 5px 15px rgba(0, 0,0,1);
    padding: 0px;
    
    
}


nav a {
    color: white;
    
    padding: 20px;
}

h1 {

    color:black;
}



main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0px;
}
aside{
    width: 2rem;
    margin: 1em;
    border: 1px solid rgba(0,0,0,0,2);
    padding:1em;
    background: color #fff;
    color:#333;
    text-align: center;
}
aside img {
    width: 200px;
    height:auto;
}
p {
    padding: 0;
}
footer {
    margin-top: top 15px;
    border-top:1px solid;
    text-align: center;
}